<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<container>
    <row class="hero">
        <col>
            <div class="hero-intro">
                <h2>Meet our Musicians</h2><br>
                <ul id="musicians">{{#each musicians}}
                    <li class="musiciansLI" id = "musicians">
                        <ul>
                      <href>{{this.username}}</href> 
                       <div class = "profile" style = "display: none">
                       
                            <li><label id="meet">Profile-Picture:-</label><br>
                            <img src ="/uploads/{{this.image}}" id = "Profil-image" width="100" height="100"></li>
                            <li><label id="bio_intro">About me : {{this.bio}} </label></li>
                    </div>     
                    </ul>
                    </li>

                        
                    
                    {{/each}}

                </ul>
            </div>
        </col>
        <col>
        <div class="hero-form">
        <h3>{{this.username}}</h3><br>
        <img src ="/uploads/{{this.image}}" id = "Profil-image" width="400" height="400">
        <label id="bio_intro">About me : {{this.bio}} </label>
        <ul>Musician Submissions</ul>
        <li>link to music</li>
    </row>
</container>



<script>
    $("#musicians").click(function(){
        $('.profile').toggle("slide");
    })


</script>